anyio==3.1.0
appnope==0.1.2
argon2-cffi==20.1.0
asgiref==3.3.4
async-generator==1.10
attrs==20.3.0
Babel==2.9.1
backcall==0.2.0
bleach==3.3.0
blis==0.7.4
catalogue==2.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
decorator==5.0.6
defusedxml==0.7.1
Django @ git+https://github.com/django/django@ecf8af79355c8daa67722bd0de946b351f7f613d
django-cors-headers==3.6.0
django-debug-toolbar==3.2.1
django-extensions==3.1.3
django-filter==2.4.0
django-redis==5.0.0
djangorestframework==3.12.4
django-heroku==0.3.1
entrypoints==0.3
gunicorn==20.1.0
idna==2.10
ipykernel==5.5.5
ipython==7.22.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-server==1.8.0
jupyterlab==3.0.16
jupyterlab-pygments==0.1.2
jupyterlab-server==2.6.0
libcst==0.3.19
Markdown==3.3.3
MarkupSafe==1.1.1
mistune==0.8.4
murmurhash==1.0.5
mypy-extensions==0.4.3
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.0
numpy==1.20.2
packaging==20.9
pandocfilters==1.4.3
parso==0.8.2
pathy==0.4.0
pexpect==4.8.0
pickleshare==0.7.5
preshed==3.0.5
prometheus-client==0.11.0
prompt-toolkit==3.0.18
psutil==5.8.0
psycopg2-binary==2.8.6
ptyprocess==0.7.0
pybind11==2.6.1
pycparser==2.20
pydantic==1.7.3
Pygments==2.8.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-decouple==3.4
pytz==2020.5
PyYAML==5.4.1
pyzmq==22.0.3
redis==3.5.3
regex==2020.11.13
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.2
Send2Trash==1.5.0
six==1.15.0
smart-open==3.0.0
sniffio==1.2.0
spacy==3.0.5
spacy-legacy==3.0.2
sqlparse==0.4.1
srsly==2.4.0
terminado==0.9.4
testpath==0.4.4
thinc==8.0.2
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
tqdm==4.56.0
traitlets==5.0.5
typer==0.3.2
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.26.2
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.1.0
zipp==3.4.1